@using DesignBureauWebApplication.ViewModels;
@model ExecutionViewModel

<h2>Новый исполнитель</h2>
<hr />

<form method="post" asp-action="Create">
    <input type="hidden" name="AssignmentId" value="@Model.AssignmentId" />
    <div class="form-group">
        <label>Проект</label>
        <input value="@Model.Assignment?.Work?.Project?.ProjectTitle" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Работа</label>
        <input value="@Model.Assignment?.Work?.WorkDictionary?.WorkTitle" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Задача</label>
        <input value="@Model.Assignment?.AssignmentDictionary?.AssignmentTitle" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId">Сотрудник</label>
        <select asp-for="EmployeeId" asp-items="@Model.EmployeeList" class="form-control"></select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>
    @Html.ActionLink("←Назад", "Details", "Assignment", new{ id = Model.AssignmentId }, new { @class = "btn btn-secondary" })
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>