@using DesignBureauWebApplication.Data;
@using DesignBureauWebApplication.Models;
@using DesignBureauWebApplication.Data.Enum;
@using System.Globalization;
@model IEnumerable<Project>

<style>
    .card:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
    }
</style>

<h2>Проекты</h2>
<hr />

<div class="container">
    @if (User.IsInRole(UserRoles.ProjectManager) || User.IsInRole(UserRoles.Admin))
    {
        <p>
            @Html.ActionLink("✚", "Create", new{}, new { @class = "btn btn-primary" })
        </p>
    }
@*    <p style="color:green; font-weight:600;">Аутентифицирован?: @User.Identity.IsAuthenticated</p>
    <p style="color:green; font-weight:600;">Тип аутентификации: @User.Identity.AuthenticationType</p>
    <p style="color:green; font-weight:600;">Роль пользователя: @User.IsInRole(UserRoles.Admin)</p>*@

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
    @foreach (var item in Model)
    {
        <div class="col">
            <a href="@Url.Action("Details", "Project", new { id = item.ProjectId })" class="card card-link card-hover-shadow" style="margin-bottom: 7%;">
                <div class="card-body" style="margin: 5%">
                    <h5 class="card-text" style="padding-bottom: 5%; color: #111;">@item.ProjectTitle</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        @if (DateTime.Now <= item.PlanStartDate) // до запуска
                        {
                            TimeSpan difference = item.PlanStartDate - DateTime.Now;
                            string result = difference.ToString("%d") + "д" + difference.ToString("%h") + "ч";
                            <small class="text-muted"> ⏳ @result </small>
                        }
                        else if (DateTime.Now > item.PlanStartDate && DateTime.Now <= item.PlanOverDate) // до окончания
                        {
                            TimeSpan difference = item.PlanOverDate - DateTime.Now;
                            string result = difference.ToString("%d") + "д" + difference.ToString("%h") + "ч";
                            <small class="text-muted"> ⏲ @result </small>
                        }
                        else if (DateTime.Now > item.PlanOverDate)
                        {
                            <small class="text-muted"> ✅ </small>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
</div>
</div>


<script>
    $(document).ready(function () {
        // Функция для обновления отображения проектов на странице в соответствии с выбранным фильтром
        function updateProjects(filter) {
            // Получаем все проекты на странице
            var projects = $('.col');

            // Проходимся по всем проектам и скрываем те, которые не соответствуют выбранному фильтру
            projects.each(function () {
                var project = $(this);

                if (filter === '' || filter === 'all') {
                    project.show();
                } else if (filter === 'upcoming') {
                    if (project.find('.text-muted').text().includes('⏳')) {
                        project.show();
                    } else {
                        project.hide();
                    }
                } else if (filter === 'current') {
                    if (project.find('.text-muted').text().includes('⏲')) {
                        project.show();
                    } else {
                        project.hide();
                    }
                } else if (filter === 'completed') {
                    if (project.find('.text-muted').text().includes('✅')) {
                        project.show();
                    } else {
                        project.hide();
                    }
                }
            });
        }

        // Привязываем событие "click" к кнопкам фильтрации
        $('#filter-select').on('change', function () {
            var filter = $(this).val();
            updateProjects(filter);
        });
    });
</script>

@section SideContent {
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" id="search-input" class="form-control" placeholder="Поиск...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="search-btn"><i class="fas fa-search"></i>🔍</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5%">
        <div class="col-md-12">
            <div class="form-group">
                <select class="form-control" id="filter-select">
                    <option value="all">Все</option>
                    <option value="upcoming">Предстоящие</option>
                    <option value="current">Текущие</option>
                    <option value="completed">Завершенные</option>
                </select>
            </div>
        </div>
    </div>
}
