@using DesignBureauWebApplication.ViewModels
@model DetailsTransportationViewModel

<style>
    .btn.btn-light {
        border-color: lightgray;
    }

    .work-row:hover {
        cursor: pointer;
        /*transform: scale(1.01);
                transition: transform 0.5s;*/
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="display :flex; flex-direction :row;justify-content :space-between;">
                @Html.ActionLink("←", "Index", new {}, new { @class = "btn btn-light" })
                <div>
                    @Html.ActionLink("✏️", "Edit", new { id=@Model.TransportationId }, new { @class = "btn btn-primary rounded-2" })
                    @Html.ActionLink("🗑️", "Delete", new { id=@Model.TransportationId }, new { @class = "btn btn-danger rounded-2" })
                </div>
            </div>
            <h4 style="margin-top: 5%">
                @if (Model.Origin != null)
                {
                    <text>@Html.DisplayFor(modelItem => Model.Origin.LocationType)</text><text>: </text>
                    <text>@Html.DisplayFor(modelItem => Model.Origin.City)</text><text>, </text>
                    <text>@Html.DisplayFor(modelItem => Model.Origin.Street)</text><text>, </text>
                    <text>@Html.DisplayFor(modelItem => Model.Origin.HouseNumber)</text>
                }
                else
                {
                    <text>
                        @Model.Order.Supplier.SName
                    </text>
                    <text>: </text>
                    <text>
                        @Model.Order.ContractNumber
                    </text>
                }
                <br /> | <br />
                @Html.DisplayFor(modelItem => Model.Destination.LocationType): @Html.DisplayFor(modelItem => Model.Destination.City), @Html.DisplayFor(modelItem => Model.Destination.Street), @Html.DisplayFor(modelItem => Model.Destination.HouseNumber)
            </h4>
            @if (Model.PlanDepartureDateTime != null)
            {
                <p text-muted>@Model.PlanDepartureDateTime-@Model.PlanArrivalDateTime</p>
            }
            else
            {
                <p text-muted>@Model.PlanArrivalDateTime</p>
            }
            <hr />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            @Html.ActionLink("✚", "Create", "InventoryTransportation", new { TransportationId = Model.TransportationId }, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Инвентарь</th>
                    <th>Тип</th>
                    <th>Количество</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InventoryTransportations)
                {
                    <tr>
                        @if (item.Inventory.MaterialId == null)
                        {
                            <td>
                                @if (item.Inventory != null && item.Inventory.Equipment != null && item.Inventory.Equipment.EquipmentDictionary != null)
                                {
                                    @item.Inventory.Equipment.EquipmentDictionary.EquipmentName
                                }, <br />
                                @Html.DisplayFor(ed => item.Inventory.Equipment.EquipmentDictionary.EquipmentType)
                            </td>
                            <td>Оборудование</td>
                            <td>1</td>
                        }
                        else
                        {
                            <td>
                                @item.Inventory.Material.MaterialDictionary.MaterialName,<br />
                                @Html.DisplayFor(md => item.Inventory.Material.MaterialDictionary.MaterialType)
                            </td>
                            <td>Материал</td>
                            <td>@item.Quantity</td>
                        }
                        <td>
                            @Html.ActionLink("✏️", "Edit", "OrderItem", new { id=item.InventoryTransportationId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("🗑️", "Delete", "OrderItem", new { id=item.InventoryTransportationId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section SideContent {
    <p>История:</p>
    <hr />
    <ul style="list-style-type: none;">
        @foreach (var ph in Model.TransportationHistories.OrderByDescending(h => h.CreatedAt))
        {
            <li>@ph.CreatedAt.ToShortDateString(): @Html.DisplayFor(m => ph.TransportationStatus) <hr /> </li>
        }
    </ul>
 }