@using DesignBureauWebApplication.Models;
@using DesignBureauWebApplication.Data.Enum;
@*@using DesignBureauWebApplication.Extensions
@using DesignBureauWebApplication.ViewModels*@
@model IEnumerable<InteractionDictionary>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<h2>Виды взаимодействий</h2>

<p>
    @Html.ActionLink("✚", "Create", new{}, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            Вид взаимодействия
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InteractionTitle)
            </td>
            <td>
                @Html.ActionLink("✏️", "Edit", new { id = item.InteractionDictionaryId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("🔍", "Details", new { id = item.InteractionDictionaryId }, new { @class = "btn btn-success" })
                @Html.ActionLink("🗑️", "Delete", new { id = item.InteractionDictionaryId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>*@